a {
  text-decoration: none;
}

.nav-link-item {
  cursor: pointer;
  /* transition: all 0.3s; */
}

.nav-link-item:hover {
  color: #c006e6;
  border-bottom: 2px solid #c006e6;
}

.login-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  height: 100vh;
  max-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-row {
  display: flex;
  flex-direction: column;
  border: 2px solid #023536;
  border-radius: 0.5rem;
  padding: 5rem 2.5rem;
}

.login-brand-box {
  display: flex;
  justify-content: center;
}

.register-brand {
  cursor: default;
  color: #77008f;
  font-size: 2.5rem;
  font-weight: 900;
}

.login-brand {
  color: #77008f;
  font-size: 2.5rem;
  font-weight: 900;
  cursor: pointer;
}

.login-err-msg {
  color: red;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.label {
  margin-top: 1rem;
}

.register-link {
  margin: 1.2rem 0 0.3rem 0;
  font-size: 0.8rem;
}

.login-link {
  margin: 1.2rem 0 0.3rem 0;
  font-size: 0.8rem;
}

.submit-login-btn {
  color: #fff;
  background-color: #77008f;
  border: none;
  padding: 0.4rem 0;
  border-radius: 1rem;
  transition: all 0.3s;
}

.input-login-box {
  padding: 0.2rem 1rem;
  direction: ltr;
}

.submit-login-btn:hover {
  background-color: #c006e6;
}

.none-display {
  display: none;
}

.display-content {
  display: block;
}

.profile-section {
  display: flex;
  justify-content: center;
}

.profile-row {
  display: flex;
  flex-direction: column;
  border: 2px solid #023536;
  border-radius: 0.5rem;
  padding: 3.5rem 2.5rem;
}

#logout-submit {
  transition: all 0.3s;
  background-color: #da0a0a;
}

#logout-submit:hover {
  background-color: #ff2828;
}

.login-nav-btn {
  color: #fff;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #77008f;
  transition: all 0.3s;
}

.login-nav-btn:hover {
  background-color: #c006e6;
}

.login-name {
  color: #fff;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #77008f;
  transition: all 0.3s;
}

.login-name:hover {
  background-color: #c006e6;
}

.description-section {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-link {
  color: #fff;
  background-color: #77008f;
  display: block;
  text-align: center;
  padding: 0.4rem 0;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.start-link:hover {
  background-color: #c006e6;
}

.description-text {
  margin: 1.5rem 0;
  line-height: 1.6rem;
}

.about-us-section {
  /* margin-top: 2rem; */
}

.about-box {
}

.about-title {
  cursor: default;
  color: #77008f;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.about-text {
  text-align: center;
  line-height: 2rem;
}

.pepole {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pepole-box {
  margin: 0 1rem;
}

.pepole-img {
  border-radius: 20%;
  width: 10rem;
  height: 10rem;
  border: 3px solid #77008f;
}

.pepole-name {
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  padding: 0.2rem 2rem;
  text-align: center;
  color: #fff;
  background-color: #77008f;
  width: 10rem;
}

.pepole-work {
  width: 10rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.2rem 2rem;
  text-align: center;
  color: #fff;
  background-color: #77008f;
}
